body {
    font-family: Merriweather, serif;
    color: #444;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

.i {
    font-style: italic;
}

.sprint {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    font-size: 92px;
    line-height: 260px;
    text-align: center;
    margin: 60px auto;
    padding: 2px;
    font-style: normal;
    font-weight: bold;
}

.status {
  text-align: left;
}

.legend {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
}

.center-align {
    margin: 0 auto;
}

.development {
    background: #228B22;
    color: #fff;
    padding: 2px;
    font-style: normal;
    font-weight: bold;
}

.bug-fix,
.code-complete {
    background: #FFD700;
    color: #000;
    padding: 2px;
    font-style: normal;
    font-weight: bold;
}

.show-stopper,
.code-freeze {
    background: #DC143C;
    color: #fff;
    padding: 2px;
    font-style: normal;
    font-weight: bold;
}

.is-development { display: none; }
.is-code-complete { display: none; }
.is-code-freeze  { display: none; }

.status-development .is-development { display: inline-block; }
.status-code-complete .is-code-complete { display: inline-block; }
.status-code-freeze .is-code-freeze { display: inline-block; }

.status-development .sprint {
  background: #228B22;
  color: #fff;
}
.status-code-complete .sprint {
  background: #FFD700;
  color: #000;
}
.status-code-freeze .sprint {
  background: #DC143C;
  color: #fff;
}